pyobjc-core>=9.2
pyobjc-framework-AppleScriptKit>=9.2
pyobjc-framework-AppleScriptObjC>=9.2
pyobjc-framework-AVFoundation>=9.2
pyobjc-framework-Cocoa>=9.2
pyobjc-framework-CoreServices>=9.2
pyobjc-framework-Metal>=9.2
pyobjc-framework-Photos>=9.2
pyobjc-framework-Quartz>=9.2
pyobjc-framework-Vision>=9.2
wurlitzer>=3.0.3,<4.0.0
